.search1 {
    width: 360px;
    height: 30px;
   } 
   #button1{
    width: 224px; 
    height: 37px; 
    background-color: #76BB21; 
    border-color: #76BB21;
    font-size: 16px;
   }
   #button{
    width: 224px; 
    height: 37px; 
    background-color: #76BB21; 
    border-color: #76BB21; 
   }
   #search1 {
    width: 360px;
    height: 30px;
    vertical-align:middle;
    font: 12pt/10pt sans-serif;
   } 
   #search2 {
      
       width: 27px;
    height: 27px;
    vertical-align:middle;
    background-color: #555353"
}
    #TABLE {
    border-collapse: collapse; 
    background: #dc0; 
    border: 4px solid #000; 
   }
   #TDTH {
    padding: 5px; 
    border: 2px solid green;
    } 
    #raz {
  border-spacing: 20px 20px;
}
.tablemid1{
    padding-left: 25px; padding-right: 25px; padding-top: 25px; padding-bottom: 100px
}
.tablemid2{
    padding-left: 25px; 
    padding-right: 25px; 
    padding-top: 25px; 
    padding-bottom: 50px
}
.tableleft1{
    padding-left: 100px; 
    padding-right: 25px; 
    padding-top: 25px; 
    padding-bottom: 100px;
}
.tableleft2{
   padding-left: 100px; padding-right: 25px; padding-top: 25px; padding-bottom: 50px;
}
.tableright1{
    padding-left: 25px; padding-right: 100px; padding-top: 25px; padding-bottom: 100px;
}
.tableright2{
    padding-left: 25px; padding-right: 100px; padding-top: 50px; padding-bottom: 60px;
}
#header-left{
  border-spacing: 1.6em 0em; padding-left: 30px;
}
#header-menu{
  border-spacing: 0; background-color: #555353; height: 60px; width: 100%;
}
.footer-table{
  width: 80%; height:100px; background-color: #e9e9e9; border-spacing: 0;
}
.img-mgn{
  width: 224px; height: 208.8px;
}
.footer-bg{
  background-color: #e9e9e9;
}
.img-head2{
  width: 30px; height: 30px;
}
.header-left{
  padding-left: 25px; width: 400px;
}
.color-footer-text{
  color: #aeaeae;
}
.el-logo{
  width:300px; height:82px;
}
.header-right__button-counter {
  border: none;
  visibility: hidden;
  background-color: red;
  outline: none;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  vertical-align: top;
}
.box_head_1{
  border-spacing: 0; 
  background-color: #555353; 
  height: 60px; 
  width: 100px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  flex-basis: 21%;
}